Web@SmartVidéo/Connected Services/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmartVideoDBDTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmartVideoDBDTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UtilisateursDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Carte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pseudo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UtilisateursDTO" nillable="true" type="tns:UtilisateursDTO" />
  <xs:complexType name="ArrayOfHitsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HitsDTO" nillable="true" type="tns:HitsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHitsDTO" nillable="true" type="tns:ArrayOfHitsDTO" />
  <xs:complexType name="HitsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdHits" type="xs:int" />
      <xs:element minOccurs="0" name="IdRequete" type="xs:int" />
      <xs:element minOccurs="0" name="NbRecherche" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HitsDTO" nillable="true" type="tns:HitsDTO" />
</xs:schema>