Web@SmartVidéo/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62415/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62415/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62415/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FilmDTOLibrary" />
      <xsd:import schemaLocation="http://localhost:62415/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SmartVideoDBDTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetFilms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilms" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFilms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGenreById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGenreById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGenreById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGenreByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetActorById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActorById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetActorById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActorByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetActorByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActorByName" />
  </wsdl:message>
  <wsdl:message name="IService1_GetActorByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActorByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFilmByActors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmByActors" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFilmByActors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmByActorsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDirectorById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectorById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDirectorById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectorByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFilmById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFilmById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFilmByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmByName" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFilmByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetTrailer_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTrailer" />
  </wsdl:message>
  <wsdl:message name="IService1_SetTrailer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTrailerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_findUser_InputMessage">
    <wsdl:part name="parameters" element="tns:findUser" />
  </wsdl:message>
  <wsdl:message name="IService1_findUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:findUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUser" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertHits_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertHits" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertHits_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertHitsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertLocation" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:getLocation" />
  </wsdl:message>
  <wsdl:message name="IService1_getLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getStatistiques_InputMessage">
    <wsdl:part name="parameters" element="tns:getStatistiques" />
  </wsdl:message>
  <wsdl:message name="IService1_getStatistiques_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStatistiquesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetFilms">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFilms" message="tns:IService1_GetFilms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFilmsResponse" message="tns:IService1_GetFilms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGenreById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGenreById" message="tns:IService1_GetGenreById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGenreByIdResponse" message="tns:IService1_GetGenreById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActorById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetActorById" message="tns:IService1_GetActorById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetActorByIdResponse" message="tns:IService1_GetActorById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActorByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetActorByName" message="tns:IService1_GetActorByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetActorByNameResponse" message="tns:IService1_GetActorByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilmByActors">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFilmByActors" message="tns:IService1_GetFilmByActors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFilmByActorsResponse" message="tns:IService1_GetFilmByActors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDirectorById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDirectorById" message="tns:IService1_GetDirectorById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDirectorByIdResponse" message="tns:IService1_GetDirectorById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilmById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFilmById" message="tns:IService1_GetFilmById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFilmByIdResponse" message="tns:IService1_GetFilmById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilmByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFilmByName" message="tns:IService1_GetFilmByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFilmByNameResponse" message="tns:IService1_GetFilmByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTrailer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetTrailer" message="tns:IService1_SetTrailer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetTrailerResponse" message="tns:IService1_SetTrailer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/findUser" message="tns:IService1_findUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/findUserResponse" message="tns:IService1_findUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateUser" message="tns:IService1_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateUserResponse" message="tns:IService1_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertUser" message="tns:IService1_InsertUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertUserResponse" message="tns:IService1_InsertUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertHits">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertHits" message="tns:IService1_InsertHits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertHitsResponse" message="tns:IService1_InsertHits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertLocation" message="tns:IService1_InsertLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertLocationResponse" message="tns:IService1_InsertLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getLocation" message="tns:IService1_getLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getLocationResponse" message="tns:IService1_getLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStatistiques">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getStatistiques" message="tns:IService1_getStatistiques_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getStatistiquesResponse" message="tns:IService1_getStatistiques_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFilms">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFilms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGenreById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGenreById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActorById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetActorById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActorByName">
      <soap:operation soapAction="http://tempuri.org/IService1/GetActorByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilmByActors">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFilmByActors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDirectorById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDirectorById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilmById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFilmById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilmByName">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFilmByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTrailer">
      <soap:operation soapAction="http://tempuri.org/IService1/SetTrailer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findUser">
      <soap:operation soapAction="http://tempuri.org/IService1/findUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertHits">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertHits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertLocation">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLocation">
      <soap:operation soapAction="http://tempuri.org/IService1/getLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatistiques">
      <soap:operation soapAction="http://tempuri.org/IService1/getStatistiques" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:62415/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>