SmartVideoWpf/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62415/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FilmDTOLibrary" />
  <xs:element name="GetFilms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="debut" type="xs:int" />
        <xs:element minOccurs="0" name="nb" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FilmDTOLibrary" minOccurs="0" name="GetFilmsResult" nillable="true" type="q1:ArrayOfFilmDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>